*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
.container{
    background-color: #142157;
    border-radius: 10px;;
    margin:50px auto;
    border: solid 3px black;
    width: 100%;
    
}
.container-2{
    background-color: white;
    border-radius: 10px;
    border: solid 2px black;
    margin-top: 25px;
    margin-left: 15px;
    max-width: 100%;
}
.container-3    {
    background-color: white;
    border-radius: 10px;
    border: solid 3px black;
    margin-top:-430px;
    max-width: 100%;
    
    margin-left: 550px;
    overflow: scroll;
}
#Cargar{
    margin-top: -30px;
    margin-left: 190px;
    background-color: white;
    border: solid 2px black;
    color: black;
    font-size: 15px;
    font-family: monospace;
}

#Cargar:hover{
    background-color: rgba(#142157, 0.5);
    color: black;
    border: solid 2px black;
    font-family: monospace;
}
.titulo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #142157;
    max-width: 700px;
    margin: 50px auto;
    border-radius: 10px;
    border: solid 5px black;
}
.titulo h1{
    font-size: 40px;
    color: white;
    font-family: monospace;
}
.icono{
    justify-content: start;
    margin-top: -150px;
    margin-left: 50px;
    border: solid 3px black;
    max-width: 150px;
    max-height: 150px;
    border-radius: 15px;
}
label{
    font-size: 15px;
    margin-left: 35px;
    font-family: monospace;
}

input{
    max-width: 400px;
    width: 100%;
    margin-left: 35px;
    font-family: monospace;
}
@media screen and (min-width: 1336px) and (min-height: 768px) {
    #table{
        width: 100%;
        overflow: auto;
    }

}