*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ede0d4;
}
.container{
    background-color: #142157;
    border-radius: 10px;;
    margin:50px auto;
    border: solid 3px black;
}
.container-2{
    background-color: white;
    border-radius: 10px;
    border: solid 2px black;
    margin-top: 25px;
    margin-left: 15px;
}
.container-3    {
    background-color: #9C6644;
    border-radius: 10px;
    border: solid 5px #B08968;
    margin-top:-360px;
    max-width: 700px;
    width: 100%;
    margin-left: 550px;
    overflow: scroll;
}
#Cargar{
    margin-top: -120px;
    margin-left: 190px;
    background-color: #7F5539;
    border: solid 2px #B08968;
}

#Cargar:hover{
    background-color: #B08968;
    color: white;
    border: solid 2px #7F5539;
}
.titulo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #142157;
    max-width: 700px;
    margin: 50px auto;
    border-radius: 10px;
    border: solid 5px #B08968;
}
.titulo h1{
    font-size: 40px;
    color: white;
}